@font-face {
  font-family: Outfit;
  src: url(../fonts/Outfit-Regular.ttf);
}

footer {
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

body{
  font-family: Outfit, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
  sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
background-color: #242424;
color: rgb(254, 255, 246);
width: 100vw;
height: 100vh;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
}